{% extends 'base.html.twig' %}

{% block body %}
	<h2>従業員一覧</h2>

	<table id="employee_list">
		<thead>
			<tr>
				<th>社員番号</th>
				<th>氏名</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{% for employee in employees %}
				<tr>
					<td>{{ employee.code }}</td>
					<td>
						<a href="{{ path('employee_show', { 'id': employee.id }) }}">{{ employee.name }}</a>
					</td>
					{% if  employee.deleteFlag  == 1  %}
						<td>
							<ul>
								<li><ahref="{{path('employee_show',{'id':employee.id})}}">詳細</a></li>
								<li><ahref="{{path('employee_edit',{'id':employee.id})}}">編集</a></li>
							</ul>
						</td>
					{% else %}
						<td>削除済</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<ul>
		<li><a href="{{ path('employee_new') }}">従業員を新規登録する</a></li>
	</ul>
{% endblock %}
