{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employee</h1>

    <table>
        <tbody>
            <tr>
                <th>社員番号</th>
                <td>{{ employee.code }}</td>
            </tr>
            <tr>
                <th>氏名</th>
                <td>{{ employee.name }}</td>
            </tr>
            <tr>
                <th>権限</th>
                {% if employee.adminFlag == 0 %}
                <td>一般</td>
                {% else %}
                <td>管理者</td>
                {% endif %}
            </tr>
            <tr>
                <th>登録日時</th>
                <td>{% if employee.createdAt %}{{ employee.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>更新日時</th>
                <td>{% if employee.updateAt %}{{ employee.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employee_edit', { 'id': employee.id }) }}">編集</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="削除">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a href="{{ path('employee_index') }}">一覧に戻る</a>
        </li>
    </ul>
{% endblock %}
